                        body {
                            margin: 0px;
                            font-family: 'Inter', sans-serif;
                            font-family: 'Poppins', sans-serif;
                        }
                        
                        h1 {
                            font-size: 50px;
                            font-weight: 800;
                            font-weight: bold;
                        }
                        
                        .heading-color {
                            color: red;
                        }
                        
                        .top-banner-paragraph {
                            font-size: 20px;
                            padding-bottom: 40px;
                        }
                        
                        .top-banner {
                            display: flex;
                            background-image: url(images/shapes/Frame\ 58.jpg);
                            background-repeat: no-repeat;
                        }
                        
                        .second-hero-section {
                            display: flex;
                            background-image: url(images/shapes/Frame\ 59.jpg);
                            background-repeat: no-repeat;
                            padding-bottom: 50px
                        }
                        
                        .second-hero-section img {
                            max-width: 140%;
                            max-height: 100%;
                            padding-left: 40%;
                        }
                        
                        .half-width {
                            padding-top: 100px;
                            padding-left: 100px;
                            padding-right: 80px;
                        }
                        
                        .second-half-width {
                            padding-top: 200px;
                            padding-left: 500px;
                            padding-right: 150px;
                        }
                        
                        .button-one {
                            background-image: linear-gradient(tomato, red);
                            text-decoration: none;
                            text-transform: uppercase;
                            color: white;
                            padding: 12px 40px 12px 40px;
                            border-radius: 50px
                        }