                        body {
                            margin: 0px;
                            font-family: 'Inter', sans-serif;
                            font-family: 'Poppins', sans-serif;
                        }
                        
                        h1 {
                            font-size: 50px;
                            font-weight: 800;
                            font-weight: bold;
                        }
                        
                        .heading-color {
                            color: red;
                        }
                        
                        .top-banner-paragraph {
                            font-size: 20px;
                            padding-bottom: 40px;
                        }
                        
                        .top-banner {
                            display: flex;
                            background-image: url(images/shapes/Frame\ 58.jpg);
                            background-size: cover;
                        }
                        
                        .second-hero-section {
                            display: flex;
                            background-image: url(images/shapes/Frame\ 59.jpg);
                            background-size: cover;
                        }
                        
                        .second-hero-section img {
                            max-width: 140%;
                            max-height: 100%;
                            padding-left: 40%;
                        }
                        
                        .half-width {
                            padding-top: 100px;
                            padding-left: 100px;
                            padding-right: 80px;
                        }
                        
                        .second-half-width {
                            padding-top: 200px;
                            padding-left: 500px;
                            padding-right: 150px;
                        }
                        
                        .button-one {
                            background-image: linear-gradient(tomato, red);
                            text-decoration: none;
                            text-transform: uppercase;
                            color: white;
                            padding: 12px 40px 12px 40px;
                            border-radius: 50px
                        }
                        
                        .recipe-half-width p {
                            font-size: 20px;
                            text-align: center;
                            padding-left: 300px;
                            padding-right: 300px;
                        }
                        
                        .recipe-half-width h2 {
                            font-size: 40px;
                            text-align: center;
                            padding-top: 50px;
                        }
                        
                        .container {
                            display: flex;
                            padding-top: 80px;
                            padding-bottom: 80px;
                        }
                        
                        .recipe-section {
                            padding-bottom: 100px;
                        }
                        
                        .container-card {
                            width: 40%;
                            margin-left: 5%;
                            margin-right: 5%;
                            box-shadow: 10px 10px 40px gray;
                            padding-top: 25px;
                            padding-bottom: 50px;
                            padding-left: 35px;
                            border-radius: 20px;
                        }
                        
                        .number-counter {
                            display: flex;
                            justify-content: space-around;
                            width: 85%;
                            margin-left: 5%;
                            margin-right: 5%;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            padding-left: 30px;
                            padding-right: 30px;
                            border-radius: 15px;
                            box-shadow: 10px 10px 40px gray;
                        }
                        
                        footer {
                            background-image: url(images/shapes/Frame\ 57.jpg);
                            background-size: cover;
                            padding-top: 100px;
                            padding-bottom: 100px;
                        }
                        
                        footer h3 {
                            font-size: 25px;
                            text-align: center;
                            color: tomato;
                        }
                        
                        footer p {
                            font-size: 20px;
                            text-align: center;
                        }